a { color: yellow; }

.leaflet-control-command-interior {
    width: 250px;
    height: 50px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    padding: 3px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid black;
    cursor: auto;
    text-align: center;
    background-color: #FFFFFF;
}

.leaflet-control-command-interior:hover {
    background-color: #F4F4F4;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-zoom-min {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
    font-size: 28px;
}

.leaflet-control-zoom-min {
    text-indent: -999em;
    background: #fff url(data:image/gif;base64,R0lGODlhGAAYAOZdACIiIiMjIy8vLyoqKsPDwzMzM0xMTDQ0NGlpaUtLS+Tk5J2dnXd3d7m5ueDg4GdnZykpKSYmJkpKSre3t09PT5eXl4KCgrCwsHNzc1lZWWhoaCcnJ5ubm3R0dFJSUp+fn1RUVJqamoODg8TExD09PYqKijo6OpGRkV1dXVFRUUNDQ3FxcZmZmYCAgEVFRXV1dSgoKIaGhlxcXEdHR5SUlMvLy5iYmNXV1VNTU7GxsbOzs9ra2jExMdbW1isrKywsLFtbW6qqqnh4eGpqat3d3XBwcI2NjWRkZLi4uL+/vyUlJZycnNvb297e3r6+vvf392VlZcbGxq2trWFhYWZmZszMzE5OTsDAwG1tbZWVlZaWlqGhod/f3////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAF0ALAAAAAAYABgAQAf/gF2Cg10KLFASAgISVBWEhFkAklaPlT0Rkpk2XRCZnj4oEwQknp4Dgw0BAFqPLZ0ZFJ4BDYICpSWEURNBpZ4Cgx+qvQAmgjs4AAEflV1XBckgShkJEQeeBUmPLwAezF0jKTqDGJkdXQaZLt5dTj/DCRq9MDldHgAbw5kPhdb5AAkXBpXAd0ABMyED8g1gsE6QAwwJhw3oQMQbB1UyRlSpQeDJAiClAoQg5OCZkUrPAGzpImJIpgJNBHWKIMUbF0FMGsTIdOpBphUNb5jo9cBWJgveLOQTgM6TihOCjkgq4s9AiGEUHFyoMMUfAA5dGHjFooEHDQSkMjEUREBYPiSDHEQkI1CJQL9SM5aAkHSAbsMuCxAYUGQAwQJvgQAAOw==) no-repeat scroll center center;
    background-size: 24px 24px;
}

.leaflet-control-zoom-min:focus {
    outline: 0;
}

.leaflet-control-zoom-min.leaflet-disabled {
    background-image: url(data:image/gif;base64,R0lGODlhGAAYAOZGAHp6eoWFhX9/f3t7e4KCgtvb2319faSkpJSUlMTExOzs7JiYmO/v79DQ0KWlpdXV1ZeXl8LCwq2trZWVldTU1KysrJOTk8HBwbS0tLW1tZ2dnaOjo5ubm9nZ2aurq+bm5oCAgMPDw+vr6+np6ZKSkomJicXFxYuLi9zc3Lm5ub+/v+Dg4J6enszMzMDAwN3d3djY2Pr6+oODg46OjqCgoHx8fJGRkaqqqr29vaampqenp7a2to+Pj7Ozs7u7u9HR0aKioqmpqX5+fs7OzsfHx66urv///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAEYALAAAAAAYABgAQAf/gEaCg0YMERskBAQkGxeEhCoAkhOPlR8GkpmOApmdICwUBSednQKDDwMALo89nBwTnQMPggSkKYQvFC2knQSDJqm8ACWCIwsAAyaVRh0ByAs1HBYGzpkBHY8VABDLRigQP4MemRVGCJk83UYwIMIWB7xCDUYQAJjCkgeF1fgW84IpMAVgsKwIJ2ECJKgTpMDDQV4CKojoFiKVBhQrVhSIkUADqQERCClw5qNSNSJGMuSwNtEIJwNDuiko9mBHJlPwJN1Y+KEErwO1MmHohgEfgXOdZuAQBERSEHwAEEQQNkFBgws0oAIIYUSCVh0HZKhwMCqTQkEFguGjMCgDsgKVFwrw62QjwTEAAeAuNJLAAQJFCBwk6BYIADs=);
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.legend{
    z-index:12;
    position:absolute;
    bottom:30px;
    right:10px;
    border-radius: 10px;
    color:white;
    background: rgba(0,0,0,0.7);
    padding: 10px 5px;
    border: 1px solid black;
}
.legenditem{
    width:50px;
    height:10px;
    display: inline-block;
}

.buttons {
    z-index: 11;
    position: absolute;
    top: 150px;
    right: 10px;
}

.button {
    width: 90px;
    height: 70px;
    border: none;
    border-radius: 10px;
    color:white;
    display: block;
    margin-top: 1px;
    cursor: pointer;
    background-color:#484848;
    opacity:0.9;
    border: 1px solid black;
}
.button:first-child {
    margin-top: 0;
}
.button:last-child {
    margin-top: 10px;
}

#btnNext {
    background-color: #32cd32;
}

.group {
    z-index: 10;
    position: absolute;
    bottom: 20px;
    left: 5px;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

body,
html {
    font-family: Arial, sans-serif;
    height: 100%;
}

.map {
    width: 100%;
    height: 100%;
}

.map-application {
    height: 100%;
}

.hexbin-hexagon {
    stroke: #000;
    stroke-width: 1px;
}

.selectClass {
    font-size: 25px;
    font-family: sans-serif;
}

/* timeSlider css */
.timerange {
    position: absolute;
    left: 10px;
    bottom: 30px;
    width: 400px;
    height: 100px;
    padding: 10px 5px;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    border: 1px solid black;
}
.timerange div {
    font-size:16px;
    color:white;
}
.timerange div.satelliteDateLabelFirst {
    width:38%;
    float:left;
}
/*.timerange label.value1 {*/
    /*text-align: center;*/
/*}*/
/*.timerange label.value2 {*/
    /*text-align: right;*/
/*}*/
input[type=range] {
    -webkit-appearance: none;
    margin: 23px 0;
    width: 100%;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* IE10+ specific styles go here */
    input[type=range] {
        margin: 0;
    }
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 9px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    background: white;
    border-radius: 1px;
    border: 1px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 20px;
    border-radius: 3px;
    background: #eee; /* same as .timerange label*/
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: white;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 9px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    background: white;
    border-radius: 1px;
    border: 1px solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 9px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: white;
    border: 1px solid #010101;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: white;
    border: 1px solid #010101;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: white;
}

input[type=range]:focus::-ms-fill-upper {
    background: white;
}

input[type=range]::-ms-tooltip {
    display: none;
}

/* end timeslider css */
/* toggle layers css */
/* image credits
 * santinel-1
 * https://sentinel.esa.int/image/image_gallery?uuid=dfb83050-118e-4430-add8-40f680f10009&groupId=247904&t=1343825173914
 * landsat 8
 * http://landsat.usgs.gov/images/new_LDCM_still_Gulf_Coast_front_view%20banner.jpg 
 */

.hide {
    display: none;
}
.userpanel {
    color:white;
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0,0,0,0.7);
    /** background: rgba(255,255,255,0.8); */
    z-index: 1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.userhint{
    font-size: 80%;
    cursor: pointer;
    text-decoration:underline;
    float: right;
    padding-left: 5px;
}
.userform input[type=text],
.userform button[type=submit]{
    line-height: 30px !important;
    font-size: 18px;
    padding: 2px 4px;
}

.marker-delete-button {
    width: 75px;
    height:30px;
    border-radius: 5px;
    color: #ff0000;
    font-weight: bold;
}

.message {
    color: #ffffff;
    background-color: #0086b3;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
}

.messagesShown {
    transition: opacity 500ms;
    opacity: 1;
}

.messagesNotShown {
    opacity: 0;
}


.navigateTriangle img {
    width: 20px;
    height: 20px;
}

.navigateHexagon {
    transition: opacity 0.5s ease-out;
    color: #000000;
    weight: 5;
    opacity: 0.65;
    label: geohexCode;
    fillOpacity: 1;
}
